/* @import url('https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css'); */

.red {
	background-color: brown;
}

.green {
	background-color: green;
}

.yellow {
	background-color: yellow;
}

.grey {
	background-color: gainsboro;
}

.grey-light {
	background-color: whitesmoke;
}

.ystm-h77 {
	min-height: 77px;
	/* Нижнее свойство ломает свойства Bootstrap */
	/* align-content: center; */
	font-size: 1.5em;
}