/* @import url('https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css'); */

:root {
	--bs-blue: #0d6efd;
	--bs-indigo: #6610f2;
	--bs-purple: #6f42c1;
	--bs-pink: #d63384;
	--bs-red: #dc3545;
	--bs-orange: #fd7e14;
	--bs-yellow: #ffc107;
	--bs-green: #198754;
	--bs-teal: #20c997;
	--bs-cyan: #0dcaf0;
	--bs-white: #fff;
	--bs-gray: #6c757d;
	--bs-gray-dark: #343a40;
	--bs-primary: #0d6efd;
	--bs-secondary: #6c757d;
	--bs-success: #198754;
	--bs-info: #0dcaf0;
	--bs-warning: #ffc107;
	--bs-danger: #dc3545;
	--bs-light: #f8f9fa;
	--bs-dark: #212529;
	--bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	--bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
	--bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
}

@font-face {
	font-family: 'Irmologion';
	font-display: auto;
	/* src: url('../font/IrmUcs.ttf'); */
	src: local('Clunya-IrmIEUcs'), url('https://a374ru.github.io/aprakos.ru/font/Clunya-IrmIEUcs.otf');
	font-weight: normal;
	font-style: normal;
}

:root {
	--kino-var: #e34234;
	--sizeDate-var: 1.1em;
	--alink-var: #6b6b6b;
	--blink-var: #860000;
	--fontIrmUCS-var: Irmologion;
	--font-var: Fontics;
	--fontEvng-var: Evangeliecs;
	--sizeFontEvngl-var: 1.5em;
	--sizeFontEvnglrus-var: 1.1em;
	--sizeFontEvnglglg-var: 1.1em;
}

.csl {
	/* margin: 17px 3px 3px 33px; */
	font-family: var(--fontIrmUCS-var);
	font-size: var(--sizeFontEvngl-var);
	/* color: #7e4500; */
}

.rus {
	font-size: var(--sizeFontEvnglrus-var);
}

.glg {
	font-size: var(--sizeFontEvnglglg-var)
}

.kinovar {
	color: #E34234;
}

.red {
	background-color: brown;
}

.green {
	background-color: green;
}

.yellow {
	background-color: yellow;
}

.grey {
	background-color: var(--bs-ligh);
}

.grey-light {
	background-color: whitesmoke;
}

.ystm-h77 {
	min-height: 88px;
	/* Нижнее свойство ломает свойства Bootstrap */
	/* align-content: center; */
}

.black {
	background-color: lightslategray;
}

.ystm-full-center {
	display: flex !important;
	align-items: center;
	justify-content: center !important;
	font-size: 1.5em;
	min-height: 88px;

}

/* 
for blogspot.com
hide top-navbar
*/
#navbar-iframe-container {
	display: none;
}